@page "/Payments/Create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Payments</h3>
<hr />
<br />

<FormComponent ButtonText="Create Payments" payments="payments" OnValidSubmit="@CreatePayment" />

@code { Payments payments = new Payments();

    private IList<Bookings> Bookings;
    private IList<Staff> Staffs;

    protected async override Task OnInitializedAsync()
    {
       Bookings = await _client.GetFromJsonAsync<List<Bookings>>($"{Endpoints.BookingsEndpoint}");
       Staffs = await _client.GetFromJsonAsync<List<Staff>>($"{Endpoints.StaffEndpoint}");
        //payment.DateOut = DateTime.Now;
    }

    private async Task CreatePayment()
    {
        await _client.PostAsJsonAsync(Endpoints.PaymentsEndpoint, payments);
        _navManager.NavigateTo("/Payments/");
    } }

